.recovery_button{
    width: 100%;
    margin-top: 50px;
}

.recovery{
    background-image: url('../img/Bg_mask.png');
    padding-top: 122px;
    padding-bottom: 188px;
}

.recovery_zagolovok{
    margin-bottom: 12px;
}

.recovery_p{
    margin-bottom: 34px;
}

@media(max-width:414px){
    .recovery{
        background-image: none;
    }
}